
<div class="modal modal-xl fade" 
  id="projetoModal" 
  tabindex="-1" a
  ria-labelledby="exampleModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ projeto()?.titulo }}</h1>
        <button
        (click)="modalFechado.emit()"
          type="button" 
          class="btn-close" 
          data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" 
            [src]="projeto()?.urlImagem" 
            [alt]="projeto()?.titulo" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>