<section id="sobre" class="bg-secondary mt-4 mt-lg-0">
  <div class="container my-auto">
    <div class="row align-items-center g-3">
      <div class="col-lg-7 order-1 order-lg-0">
        <div>
          <p class="display-5 mb-1">Ola, eu sou <strong>Alexandre Rocha</strong></p>
          <span class="display-4 fw-bold fst-italic sobre-banner-text">
            Desenvolvedor</span>
        </div>

        <div class="mt-4">
          <p class="fs-5">
            Construo aplicações pensando além do código: estrutura, manutenção e 
            soluções que façam sentido.
          </p>
        </div>

        <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
          <span>
            <i class="bi bi-geo-alt fs-5"></i>
            Lages, SC - Brasil
          </span>

          <span>-</span>

          <span>
            <i class="bi bi-envelope-at fs-5"></i>
            alexandrerocha15&#64;hotmail.com
          </span>

          <span>-</span>

          <span class="d-flex justify-content-center gap-2">
            <a target="_blank" href="https://github.com/alexandrerocha15/">
              <i class="bi bi-github fs-2"></i>
            </a>

            <a target="_blank" href="https://www.linkedin.com/in/alexandre-rocha-dev/">
              <i class="bi bi-linkedin fs-2"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="col-auto mx-auto sobre-banner-img">
        <img
          class="img-fluid rounded-circle"
          src="img/alexandre.png"
          alt="Foto de Alexandre Rocha"
        />
      </div>
    </div>
  </div>
</section>
